plugins/a4/scripts/body_schemas/brainstorm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  a4 body section reference for files whose frontmatter declares
  `type: <root>`. Pure human reference: no runtime validator consumes
  this file.

  Body sections are emitted in markdown as H2 headings in Title Case
  with spaces (`## Heading`), per
  `plugins/a4/references/body-conventions.md`. Element names below use
  lowercase kebab-case because XML grammar forbids spaces in element
  names; map each element name to its body heading by replacing
  hyphens with spaces and capitalising each word — e.g.,
  `change-logs` -> `## Change Logs`, `decision-log` -> `## Decision Log`,
  `context` -> `## Context`.

  Authoring contracts in `plugins/a4/references/<type>-authoring.md`
  are the binding source. The `<xs:all>` block below lists the
  sections this type is expected to carry — default `minOccurs` means
  required; `minOccurs="0"` means optional. Unknown sibling sections
  are tolerated.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <xs:complexType name="markdownContent" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="brainstorm">
    <xs:complexType>
      <xs:openContent mode="interleave">
        <xs:any notQName="change-logs ideas notes" processContents="skip"/>
      </xs:openContent>
      <xs:all>
        <xs:element name="ideas" type="markdownContent"/>
        <xs:element name="change-logs" type="markdownContent" minOccurs="0"/>
        <xs:element name="notes" type="markdownContent" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
