plugins/a4/scripts/body_schemas/idea.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  a4 body XML schema. Source of truth for files whose frontmatter declares
  `type: <root>`. Hand-edited; consumed by validate_body.py and
  transition_status.py via the xmlschema library.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <xs:complexType name="markdownContent" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="idea">
    <xs:complexType>
      <xs:openContent mode="interleave">
        <xs:any notQName="change-logs log notes why-this-matters" processContents="skip"/>
      </xs:openContent>
      <xs:all>
        <xs:element name="change-logs" type="markdownContent" minOccurs="0"/>
        <xs:element name="log" type="markdownContent" minOccurs="0"/>
        <xs:element name="notes" type="markdownContent" minOccurs="0"/>
        <xs:element name="why-this-matters" type="markdownContent" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
