plugins/a4/scripts/body_schemas/research.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  a4 body XML reference schema. Documents the per-type body section shape
  for files whose frontmatter declares `type: <root>`. Reference-only:
  no runtime validator consumes these files. Authoring contracts in
  plugins/a4/references/ are the binding source for body conventions.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <xs:complexType name="markdownContent" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="research">
    <xs:complexType>
      <xs:openContent mode="interleave">
        <xs:any notQName="change-logs context findings options" processContents="skip"/>
      </xs:openContent>
      <xs:all>
        <xs:element name="context" type="markdownContent"/>
        <xs:element name="change-logs" type="markdownContent" minOccurs="0"/>
        <xs:element name="findings" type="markdownContent" minOccurs="0"/>
        <xs:element name="options" type="markdownContent" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
